{% load static %}

<li> 
    <article class = "post">
        <a href="{% url 'post-detail-page' 'the-mountains' %}">
            <img src="{% static 'blog/images/montanhas.jpg' %}" alt="Mountain Hiking" />
            <div class="post-content">
                <h3>Mountain Hiking</h3>
                <p>There's nothing like the views you get when hiking in the mountains!  
                    And i wasn't even prepared for what hapenned whilist i was
                    enjoying the view!</p>
            </div>
        </a>
    </article>
</li>