{% extends 'base.html' %}
{% load static %}

{% block title %}
 All my posts
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/posts.css' %}"/>
    <link rel="stylesheet" href="{% static 'blog/all-posts.css'%}" />
{% endblock  %}

{% block content %}
    <section id="all-posts">
        <h2> My collected posts</h2>
    <ul>
        {% for post in allposts %}
        {% include "blog/includes/posts.html" %}
        {% endfor %}
        
    </ul>
</section>

{% endblock %}