{% extends 'base.html' %}

{% load static %}


{% block title %}
 my block
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/posts.css' %}"/>
    <link rel="stylesheet" href="{% static 'blog/index.css'%}" />
{% endblock  %}

{% block content %}



<section id="welcome">
    <header>
        <img src="{% static 'blog/images/eu.jpg' %}" alt="Lucas - The blog's owner"/>
        <h2>LUCAS BLOG</h2>
    </header>
    <p>Hi, i am Lucas Torres and i love programming and tech articles</p>
</section>


<section id = "latest-posts">
    <h2> My latest thoughts</h2>

    <ul>
        {% for post in posts %}
        {% include "blog/includes/posts.html" %}
        {% endfor %}
    </ul>

</section>


<section id="about">
    <h2>What i do!</h2>
    <p> I love programming and help the others to learn more!!</p>
    <p>My goal is keep growing as developer</p>  
</section>

{% endblock content %}