{% extends 'base.html' %}

{% load static %}


{% block title %}
 my block
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/index.css'%}" />
{% endblock  %}

{% block content %}
<header id="main-navigation">
    <h1><a href="" > Lucas' blog</a><h1>
    <nav>
        <a href="">All posts</a>
    </nav>
</header>


<section id="welcome">
    <header>
        <img src="" alt="Lucas - The blog's owner"/>
        <h2>LUCAS'S BLOG</h2>
    </header>
    <p>Hi, i am Lucas Torres and i love programming and tech articles</p>
</section>


<section id = "latest-posts">
    <h2> My latest thoughts</h2>

    <ul>
        <li> 
            <article class = "post">
                <a href="">
                    <img src="" alt="Mountain Hiking" />
                    <div class="post-content">
                        <h3>Mountain Hiking</h3>
                        <p>There's nothing like the views you get when hiking in the mountains!  
                            And i wasn't even prepared for what hapenned whilist i was
                            enjoying the view!</p>
                    </div>
                </a>
            </article>
        </li>
    </ul>

</section>


<section id="about">
    <h2>What i do!</h2>
    <p> I love programming and help the others to learn more!!</p>
    <p>My goal is keep growing as developer</p>  
</section>

{% endblock content %}