.home h1{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.5rem;

}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .post a {
    text-decoration: none;
    color: whitesmoke;
    transition: all 0.2s ease;
    padding: 1rem;
  }
  
  .post a:hover,
  .post a:active {
    transform: scale(1.1);
    background-color: rgb(10, 10, 58);
    color: white;
  }
  
  .post img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .post h3 {
    margin: 0.25rem 0;
  }

  .post h2,
  .post p {
    margin-bottom: 1rem;
    max-width: 200px;
  }

  .post h2::first-letter{
    text-transform: uppercase;
  }
  
  .post time {
    color: #666666;
    margin: 0.25rem;
    font-style: italic;
    font-size: 0.85rem;
  }
  
  .post:hover time,
  .post:active time {
    color: white;
  }

  .allposts-all {
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
    flex-wrap: wrap;
  }
  
  .allposts-all > div {
    width: calc(33.33% - 1rem); /* 3 elementos por linha em telas normais */
    margin-right: 1rem; /* Espaçamento entre os elementos */
    margin-bottom: 1rem; /* Espaçamento abaixo dos elementos */
  }
  
  /* Limpa a margem direita do último elemento de cada linha em telas normais */
  .allposts-all > div:nth-child(3n) {
    margin-right: 0;
  }
  
  /* Limpa a margem inferior do último elemento de cada conjunto de 3 em telas normais */
  .allposts-all > div:nth-child(3n+1) {
    margin-bottom: 0;
  }
  
  /* Em telas menores, exibir um elemento por linha */
  @media (max-width: 768px) {
    .allposts-all > div {
      width: 100%; /* 1 elemento por linha em telas menores */
      margin-right: 0; /* Sem margem direita em telas menores */
      margin-bottom: 1rem; /* Espaçamento abaixo dos elementos em telas menores */
    }
  }